name: libarchivepreload

on: workflow_dispatch

jobs:
  libarchivepreload:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Install prerequisites for xz autogen
        run: sudo apt-get update && sudo apt-get install autopoint po4a gdb
      
      - name: Build
        run: make
      
      - name: Test zip
        run: |
          zip -r packfs.zip packfs.c .git
          LD_PRELOAD=$PWD/libarchivepreload.so /usr/bin/cat packfs.zip/packfs.c
          LD_PRELOAD=$PWD/libarchivepreload.so /usr/bin/stat packfs.zip/packfs.c
          LD_PRELOAD=$PWD/libarchivepreload.so /usr/bin/ls -lah packfs.zip/packfs.c
          LD_PRELOAD=$PWD/libarchivepreload.so /usr/bin/ls -lah packfs.zip
          LD_PRELOAD=$PWD/libarchivepreload.so /usr/bin/find packfs.zip
          LD_PRELOAD=$PWD/libarchivepreload.so PACKFS_ARCHIVES=packfs.zip /usr/bin/cat /packfs/packfs.c
          python packfs.py -i .git -o packfs.h --prefix=/packfs/dotgit --ld=ld
      
      #- name: Test xz
      #  run: |
      #    #sudo apt install ltrace && ltrace /usr/bin/find .git
      #    tar -cJf packfs.tar.xz packfs.c .git
      #    LD_PRELOAD=$PWD/libarchivepreload.so /usr/bin/cat packfs.tar.xz/packfs.c
      #    LD_PRELOAD=$PWD/libarchivepreload.so /usr/bin/stat packfs.tar.xz/packfs.c
      #    LD_PRELOAD=$PWD/libarchivepreload.so /usr/bin/ls -lah packfs.tar.xz
      #    LD_PRELOAD=$PWD/libarchivepreload.so /usr/bin/ls -lah packfs.tar.xz/packfs.c
      #    LD_PRELOAD=$PWD/libarchivepreload.so /usr/bin/find packfs.tar.xz
       
      - name: Artifacts
        uses: actions/upload-artifact@v4
        with:
          path: |
            libarchivepreload.so
            packfs.h
            packfs.h.txt
